OneRewardsPhoneApp/Service References/OneRewardsService/OneRewardsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://onerewardswcf.azurewebsites.net/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OneRewardsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://onerewardswcf.azurewebsites.net/" location="http://onerewardswcf.azurewebsites.net/OneRewardsService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IOneRewardsService" type="i0:IOneRewardsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autenticate">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/autenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRewardsAccount">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getAllRewardsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RewardAccountFault">
        <soap:fault use="literal" name="RewardAccountFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompanys">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getCompanys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CompanyFault">
        <soap:fault use="literal" name="CompanyFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRewardsAccount">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getRewardsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyID">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyNames">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getCompanyNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRewardsAccount">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/addRewardsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTPoints">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getTPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAPoints">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getAPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePoints">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/updatePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRewardsAccount">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/removeRewardsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyLogo">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getCompanyLogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyLogoID">
      <soap:operation soapAction="http://onerewardswcf.azurewebsites.net/IOneRewardsService/getCompanyLogoID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OneRewardsService">
    <wsdl:port name="BasicHttpBinding_IOneRewardsService" binding="tns:BasicHttpBinding_IOneRewardsService">
      <soap:address location="http://onerewardswcf.azurewebsites.net/OneRewardsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>